In [12]:

import pandas as pd
import matplotlib.pyplot as plt
# sklearn library
from sklearn.linear_model import LinearRegression

df = pd.read_csv("housepricedata.csv",sep = ";")

In [13]:
# Let's see our dataset and check that you have imported it correctly:
df

   sqft  rooms  condition   price
0   180      5         10  510000
1   225      4         18  508000
2   260      3          2  548000
3   320      6         10  650000
4   335      4          9  628000
5   345      5         14  632000
6   355      3          0  680000
7   400      4         10  725000

In [14]:
df[['sqft', 'rooms', 'condition']]

   sqft  rooms  condition
0   180      5         10
1   225      4         18
2   260      3          2
3   320      6         10
4   335      4          9
5   345      5         14
6   355      3          0
7   400      4         10

In [15]:
df['price']

0    510000
1    508000
2    548000
3    650000
4    628000
5    632000
6    680000
7    725000
Name: price, dtype: int64

In [22]:
# Fitting the model given your X and y values.

reg = LinearRegression().fit(df[['sqft', 'rooms', 'condition']].values, df['price'])

# Predicts an array of y-values with the fitted model given the inputs

reg.predict([[280,5,12]])

array([590873.6807229])

In [18]:
reg.predict([[200,3,5]])

array([497812.93096012])

In [19]:
reg.predict([[355,6,10]])

array([687405.7721629])

In [20]:
reg.predict([[260,4,6], [245,5,0], [330,3,15]])

array([571239.98968216, 586488.9394138 , 604215.9130501 ])

In [21]:
# Prints an array of all regressor values
reg.coef_

array([ 1018.99865454, 14893.82374984, -2606.68429997])

In [10]:
# Prints value for intercept
reg.intercept_

262365.1503032055

In [29]:
# Multiple Linear Regression formula:
# y= a + b1X1 + b2X2 + b3X3 + ...

a = reg.intercept_
b1 = reg.coef_[0]
b2 = reg.coef_[1]
b3 = reg.coef_[2]

x1 = 230
x2 = 4
x3 = 10
y = a + b1*x1 + b2*x2 + b3*x3

y

530243.2928461881